.about{
    margin: 10vh 0vw;
}
.aboutData{
    margin: 0 2.5rem;
}
.aboutHeadText{
    cursor: pointer;
}

.AboutImg{
    width: 20rem;
    border-radius: 10px;
}


/*   media   */
@media (max-width: 766px) { 
    .about{
        margin: 10vh 0vw;
    }
    .aboutData{
        margin: 0 0.5rem;
    }
}
