:root{
    --color-bg:#1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255,0.4);
    --color-light: rgba(25S, 255, 255, 0.6);
    --color-white:#fff;
}

footer{
    background-color:var(--color-primary-variant);
    padding: 1vh;
}